extends base
block content 
    form(method="POST")
        input(type="text", name="name", placeholder="Name", required)
        input(type="email", name="email", placeholder="Email", required)
        input(type="text", name="userName", placeholder="User Name", required)
        input(type="password", name="password", placeholder="Password", required)
        input(type="text", name="location", placeholder="Location", required) 
        input(type="submit", value="Join")