extends ../base
block content 
    if error 
        span=error
    form(method="POST")
        input(name="oldPwd", type="password",placeholder="Old Password")
        input(name="newPwd", type="password",placeholder="New Password")
        input(name="newPwd2", type="password",placeholder="New Password Confirmation")
        input(value="Change Password", type="submit")
